<div class="container">
    <h1 class="mt-3">Add Patient</h1>

    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2">
            <div class="mt-3">
                <label class="form-label">Doctor ID</label>
                <input type="text" id="appointmentDoctorID" class="form-control" name="appointmentDoctorID" [(ngModel)]="model.doctorid">
            </div>
            <div class="mt-3">
                <label class="form-label">PatientID</label>
                <input type="text" id="appointmentPatientID" class="form-control" name="appointmentPatientID" [(ngModel)]="model.patientid">
            </div>
            <div class="mt-3">
                <label class="form-label">Date & Time</label>
                <input type="datetime-local" id="appointmentDateTime" class="form-control" name="appointmentDateTime" [(ngModel)]="model.datetime">
            </div>
            <div class="mt-3">
                <label class="form-label">Reason</label>
                <select class="form-select" id="appointmentReason" name="appointmentReason" [(ngModel)]="model.reason">
                    <option value="Reason 1">Reason 1</option>
                    <option value="Reason 2">Reason 2</option>
                    <option value="Reason 3">Reason 3</option>
                </select>
            </div>          
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
