<div class="container">

    <h1 class="mt-3">Edit Doctor</h1>

    <ng-container *ngIf="doctor;else notFound">
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2">
            <div class="mt-3">
                <label for="doctorId">Doctor Id</label>
                <input type="text" disabled
                id="doctorId"
                class="form-control"
                name="doctorId"
                value="{{doctor.id}}">
            </div>

            <div class="mt-3">
                <label for="doctorFirstName">First Name</label>
                <input type="text" 
                id="doctorFirstName"
                class="form-control"
                name="doctorFirstName"
                [(ngModel)]="doctor.firstName">
            </div>

            <div class="mt-3">
                <label for="doctorLastName">Last Name</label>
                <input type="text" 
                id="doctorLastName"
                class="form-control"
                name="doctorLastName"
                [(ngModel)]="doctor.lastName">
            </div>

            <div class="mt-3">
                <label for="doctorDateOfBirth">Date of Birth</label>
                <input type="datetime-local" 
                id="doctorDateOfBirth"
                class="form-control"
                name="doctorDateOfBirth"
                [(ngModel)]="doctor.dateOfBirth">
            </div>
            <div class="mt-3">
                <label class="form-label">Gender</label>
                <select class="form-select" id="gender" name="gender" [(ngModel)]="doctor.gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                 </select>
            </div>
            <div class="mt-3">
                <label class="form-label">Specialization</label>
                <select class="form-select" id="doctorSpecialization" name="doctorSpecialization" [(ngModel)]="doctor.specialization">
                    <option value="Cardiology">Cardiology</option>
                    <option value="Dermatology">Dermatology</option>
                    <option value="Endocrinology">Endocrinology</option>
                    <option value="Gastroenterology">Gastroenterology</option>
                    <option value="Hematology">Hematology</option>
                    <option value="Neurology">Neurology</option>
                    <option value="Oncology">Oncology</option>
                    <option value="Ophthalmology">Ophthalmology</option>
                    <option value="Orthopedics">Orthopedics</option>
                    <option value="Pediatrics">Pediatrics</option>
                    <option value="Psychiatry">Psychiatry</option>
                    <option value="Pulmonology">Pulmonology</option>
                    <option value="Rheumatology">Rheumatology</option>
                    <option value="Urology">Urology</option>
                    <option value="Obstetrics and Gynecology (OB/GYN)">Obstetrics and Gynecology (OB/GYN)</option>
                </select>
            </div> 
            
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit Changes</button>
            </div>
        </div>
    </form>

    </ng-container>


    <ng-template #notFound>
        <div class="alert alert-danger" role="alert">
            Doctor not found!
        </div>
    </ng-template>

</div>