<div class="container">
    <h1 class="mt-3">Add Doctor</h1>

    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2">
            <div class="mt-3">
                <label class="form-label">First Name</label>
                <input type="text" id="doctorFirstName" class="form-control" name="doctorFirstName" [(ngModel)]="model.firstName">
            </div>
            <div class="mt-3">
                <label class="form-label">Last Name</label>
                <input type="text" id="doctorLastName" class="form-control" name="doctorLastName" [(ngModel)]="model.lastName">
            </div>
            <div class="mt-3">
                <label class="form-label">Specialization</label>
                <select class="form-select" id="doctorSpecialization" name="doctorSpecialization" [(ngModel)]="model.specialization">
                    <option value="Cardiology">Cardiology</option>
                    <option value="Dermatology">Dermatology</option>
                    <option value="Endocrinology">Endocrinology</option>
                    <option value="Gastroenterology">Gastroenterology</option>
                    <option value="Hematology">Hematology</option>
                    <option value="Neurology">Neurology</option>
                    <option value="Oncology">Oncology</option>
                    <option value="Ophthalmology">Ophthalmology</option>
                    <option value="Orthopedics">Orthopedics</option>
                    <option value="Pediatrics">Pediatrics</option>
                    <option value="Psychiatry">Psychiatry</option>
                    <option value="Pulmonology">Pulmonology</option>
                    <option value="Rheumatology">Rheumatology</option>
                    <option value="Urology">Urology</option>
                    <option value="Obstetrics and Gynecology (OB/GYN)">Obstetrics and Gynecology (OB/GYN)</option>
                </select>
            </div>            
            <div class="mt-3">
                <label class="form-label">Date of Birth</label>
                <input type="date" id="doctorDateOfBirth" class="form-control" name="doctorDateOfBirth" [(ngModel)]="model.dateOfBirth">
            </div>
            <div class="mt-3">
                <label class="form-label">Gender</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="male" name="gender" value="Male" [(ngModel)]="model.gender">
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="female" name="gender" value="Female" [(ngModel)]="model.gender">
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
