<div class="container">

    <h1 class="mt-3">Appointment List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/appointments/add']" class="btn btn-primary">Add Appointment</a>
    </div>

    <ng-container *ngIf="appointments$ | async as appointments">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Patient ID</th>
                    <th>Doctor ID</th>
                    <th>Date&Time</th>
                    <th>Status</th>
                    <th>Reason</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments">
                    <td>{{appointment.id}}</td>
                    <td>{{appointment.patientId}}</td>
                    <td>{{appointment.doctorId}}</td>
                    <td>{{appointment.appointmentDateTime}}</td>
                    <td>{{appointment.status}}</td>
                    <td>{{appointment.reason}}</td>
                    <td>
                        <a [routerLink]="['/admin/appointments', appointment.id]" class="btn btn-light">
                        Edit</a>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </ng-container>

</div>